@model Student
@{
    ViewData["Title"] = "Create Student";
}

<h3>@ViewData["Title"]</h3>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="StudentNo">Student Number</label>
        <input type="number" class="form-control" asp-for="StudentNo" required/>
    </div>
    <div class="form-group">
        <label for="Name">Full Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label for="Course">Course</label>
        <input type="text" class="form-control" asp-for="Course" required/>
    </div>
    <div class="form-group">
        <label for="Year">Starting year</label>
        <input type="number" class="form-control" asp-for="Year" />
    </div>
    <div class="form-group">
        <label for="Institution">Institution</label>
        <input type="text" class="form-control" asp-for="Institution" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>