@model List<Item>
@{
    ViewData["Title"] = "Items List";
}

<h3>Index</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price.ToString("C2")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    @* <a asp-action="Delete" asp-route-id="@item.id">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>